<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.devhub">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>


    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"
            />

        <service
            android:permission="com.google.android.c2dm.permission.SEND"
            android:name=".MyFirebaseMessagingService"

            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>


        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotificationPage"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".ProfileSettings"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".ClickedPost"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".NotePad"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".CodingNotes"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".ProfilePage"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".StatusPost"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".HomePage"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".SignUp"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>